@import "tailwindcss";

/* Definição da fonte local */
@font-face {
    font-family: "Figtree";
    src: url("/fonts/figtree/Figtree-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
